* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family:'Courier New', Courier, monospace;
    padding: 0 .3vh 0 .3vh;
    max-height: 100%;
    background-image: linear-gradient(
      to right bottom,
      rgba(23, 28, 104, 0.801),
      rgba(45, 18, 196, 0.8)),
      url(src/Indiana_state_seal.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #777;
    background-size: contain;
    background-blend-mode: color-burn;
    color: #fff;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  /* Start of the navbar */
  li {
    list-style: none;
  }
  .navbar {
    height: 7vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    color: #fff;
    margin-top: 20px;
  }

  .navbar .header_top {
    display: block;
    font-size: 2.5vh;
    font-weight: 600;
    letter-spacing: 15px;
    animation: moveInLeft 2s ease-out;
  }

  .navbar .header_btm {
    display: block;
    font-size: 4vh;
    font-weight: 600;
    letter-spacing: 30px;
    animation: moveInRight 2s ease-out;
  }

  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    75% {
      transform: translateX(15px);
    }
    100%{
      opacity: 1;
      transform: translate(0px);
    }
  }

  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    75% {
      transform: translateX(-15px);
    }
    100%{
      opacity: 1;
      transform: translate(0px);
  }
}

  .nav_links a {
    color: #fff;
    text-decoration: none;
    padding-right: 50px;
  }

  .nav_links {
    display: flex;
    gap: 1em;
    font-size: 2.5vh;
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
  }

  .nav_links .menu {
    display: flex;
  }

  /* DROPDOWN MENU */
  .locations {
    position: relative;
    display: inline-block;
  }

  .dropdown {
    padding: 1em 20;
    position: absolute;
    display: none;
    width: 180px;
  }

  .dropdown a {
    background-color: cadetblue;
    padding: 12px 16px;
    width: 8em;
    margin-bottom: 2px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-style: oblique;
    border-style: groove;
    border-radius: 50px;
  }

  .locations:hover .dropdown {
    display: block;
  }
    /* This section is for the main content display */
  .state_flag {  /*This is the first aside */
    padding: 10px 0px 10px 0;
    height: 300px;
    width: 354px;
    position: relative;
    float: right;
    margin-left: 10px;
  }
  .state_flag img {
    height: 300px;
    width: 350px;
    object-fit: contain;
  }
  .state_map { /*This is the sscond aside*/
    padding: 10px 0 30px 0;
    height: 320px;
    width: 270px;
    margin-bottom: 150px;
    position: relative;
    float: left;
  }
  .state_map img {
    width: 250px;
    object-fit: contain;
  }
  /* This is the start of the content paragraphs */

  /* Alignment of titles */
  .main_title {
    margin-top: 25px;
    font-size: x-large;
    font-style: italic;
    text-align: left;
    padding-left: 2.5vh;
    padding-bottom: 1vh;
    border-left: 10px solid slategrey;
    border-radius: 10px 0 0 10px;
  }

  .main_title h1 {
    animation: fadeIn 3s ease-out;
  }

  .main_title p {
    font-size: 25px;
  }
  .bottom_title {
    font-size: 25px;
    font-style: italic;
    text-align: right;
    padding-right: 2.5vh;
    padding-bottom: 1vh;
    border-right: 10px solid slategrey;
    border-radius: 0 10px 10px 0;
    grid-area: tr;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
/* Start of content images */
  .city_image img {
    height: 60vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }
  /* Start of content paragraphs */
  p {
    text-indent: 15px;
  }

  .main_content{
    padding: 10px 25px;
  }
  .main_content p {
    font-size: 3vh;
  }

  .first_quote, .second_quote{
    border: solid .3vh white;
    padding: 10px;
    width: 80vh;
    font-weight: 700;
    font-style: oblique;
    text-align: center;
    border-radius: 20px;
    background-image: linear-gradient(
      to left top,
      rgb(72, 72, 72, 0.8),
      rgb(44, 44, 44, 1),
      rgb(88, 88, 88, 0.2)
    );
  }

  .first_quote {
    margin-left: 20vh;
  }
  .second_quote {
    margin-left: 40vh;
  }
  /* This is the lower portion of index.html */
  .bottom_section {
    display: grid;
    grid-template-columns: (8, 1fr);
    flex-flow: column;
    position: relative;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
    "tl tl tl tl tr tr tr tr"
    "lt lt lt lt rt rt rt rt"
    ;
    margin-top: 2vh;
  }

  .bottom_text {
    flex: right;
    margin-left: 10px;
    grid-area: rt;
  }

  .bottom_title2 {
    font-size: 25px;
    font-style: italic;
    text-align: left;
    padding-left: 2.5vh;
    padding-bottom: 1vh;
    border-left: 10px solid slategrey;
    border-radius: 10px 0 0 10px;
    grid-area: tl;
  }
  .Geo_text {
    padding-right: 10vh;
    object-fit: contain;

  }
  .Geo_p {
    grid-area: lt;
    width: 100vh;
  }

  /* strucutre of capital and cities */
  .structure {
    display: grid;
    grid-template-columns: 9, 1fr;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
    "lmt lmt lmt mt mt mt rmt rmt rmt";
  }
  .right_aside {
    grid-area: rmt;
  }
  .left_aside {
    grid-area: lmt;
  }
  .history {
    padding: 15px;
    margin-top: 40px;
    font-weight: 500;
    grid-area: mt;
  }
  .history h3,
  .left_aside h3,
  .right_aside h3 {
    font-size: 25px;
    font-style: italic;
    text-align: left;
    padding-left: 2.5vh;
    padding-bottom: 1vh;
    border-left: 10px solid slategrey;
    border-radius: 10px 0 0 10px;
  }

  .left_aside h3,
  .right_aside h3 {
    margin-top: 5vh;
  }

  .history p {
    object-position: 15px center;
    margin-top: 25px;
  }
  .left_aside img,
  .right_aside img {
    width: 400px;
    height: 200px;
    border-radius: 25px 25px 0 0;
  }
  .side_img,
  .img_two {
    padding-top: 15px;
  }

  figcaption {
    text-align: center;
    border-style: double;
    border-color: antiquewhite;
    border-top-style: none;
    border-radius: 0 0 50px 50px;
    background: linear-gradient(
      to right bottom,
      rgb(20, 20, 69, 0.4),
      rgba(20, 20, 69, 0.8),
      rgba(20, 20, 69));
      padding: .6vh .6vh .6vh;
  }

  /* This section is for the contact.html form section */
  .form_title {
    text-align: center;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 10px;
    font-size: 10vh;
    font-style: oblique;
    color: rgb(255, 255, 255);
  }
  .form_field {
    border-style: solid;
    background-color: rgba(242, 242, 242, 0.543);
    padding: 10vh 20vh 10vh 20vh;
    margin: 0vh 15vh 0 15vh;
    text-align: left;
    font-size: 5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
  }
  .req {
    color: rgb(153, 5, 5);
    font-size: 4vh;
  }
  input:focus {
    background-color: rgba(255, 255, 255, 0.763);
    border: 3px solid #555;
  }

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border:1px solid #727272;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 100%;
    background-color: #727272;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border:1px solid #727272;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .commentbox {
    padding-bottom: 10px;
    position: relative;
  }
  /* sumbit button customization */
  .submit_btn {
    padding: 2px;
    font-size: 4vh;
    text-align: right;
    border-radius: 25px;
  }

/*Sources content*/
  .last_content {
    font-size: 2vh;
    margin-bottom: 68vh;
    width: 100%;
  }