* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family:'Courier New', Courier, monospace;
    padding: 0 .3vh 0 .3vh;
    max-height: 100%;
    background-image: linear-gradient(
      to right bottom,
      rgba(23, 28, 104, 0.801),
      rgba(45, 18, 196, 0.8)),
      url(src/Indiana_state_seal.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #777;
    background-size: contain;
    background-blend-mode: color-burn;
    color: #fff;
  }
  /* Start of the navbar */
  li {
    list-style: none;
  }
  .navbar {
    height: 7vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    color: #fff;
  }

  .navbar .header_top {
    display: block;
    font-size: 2.5vh;
    font-weight: 600;
    letter-spacing: 15px;
    animation: moveInLeft 2s ease-out;
  }

  .navbar .header_btm {
    display: block;
    font-size: 4vh;
    font-weight: 600;
    letter-spacing: 30px;
    animation: moveInRight 2s ease-out;
  }

  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    75% {
      transform: translateX(15px);
    }
    100%{
      opacity: 1;
      transform: translate(0px);
    }
  }

  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    75% {
      transform: translateX(-15px);
    }
    100%{
      opacity: 1;
      transform: translate(0px);
  }
}

  .nav_links a {
    color: #fff;
  }

  .nav_links {
    display: flex;
    word-spacing: 20px;
    gap: 1em;
  }

  .nav_links .menu {
    display: flex;
    word-spacing: 0px;
  }

  .navbar-toggle {

  }

  /* DROPDOWN MENU */
  .locations {
    position: relative;
    }

    .dropdown {
    background-color: #020069;
    padding: 1em 10;
    position: fixed; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
    }

    .dropdown li + li {
    margin-top: 10px;
    }

    .dropdown li {
    padding: 1em 1em;
    width: 8em;
    text-align: center;
    }

    .dropdown li:hover {
    background-color: #020069;
    }

    .locations:hover .dropdown {
    display: relative;
    }


  /* NAVBAR MENU */
  .navbar .menu {
    display: flex;
    gap: 1em;
    font-size: 1.3rem;
  }
  .menu li:hover {
    background-color: #020069;
    border-radius: 10px;
    transition: 0.3s ease;
  }
  .menu li {
    padding: 5px 14px;
  }
  /* DROPDOWN MENU */
  .cities {
    position: relative;
  }
  .dropdown {
    background-color: #020069;
    padding: 1em 10;
    position: fixed; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
  }
  .dropdown li + li {
    margin-top: 10px;
  }
  .dropdown li {
    padding: 1em 1em;
    width: 8em;
    text-align: center;
  }
  .dropdown li:hover {
    background-color: #020069;
  }
  .cities:hover .dropdown {
    display: block;
  } */
  /* HAMBURGER MENU */
  /*.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }

  @media (max-width: 250px) {
    .navbar .menu {
    display: flex;
    gap: 1em;
    font-size: 1.3rem;
    }
    .menu li:hover {
    background-color: #4c9e9e;
    border-radius: 10px;
    transition: 0.3s ease;
    }
    .menu li {
    padding: 5px 14px;
    }
  /* DROPDOWN MENU */
    /* .locations {
    position: relative;
    }
    .dropdown {
    background-color: #020069;
    padding: 1em 10;
    position: fixed; /*WITH RESPECT TO PARENT*/
    /* display: none;
    border-radius: 8px;
    top: 35px;
    }
    .dropdown li + li {
    margin-top: 10px;
    }
    .dropdown li {
    padding: 1em 1em;
    width: 8em;
    text-align: center;
    }
    .dropdown li:hover {
    background-color: #4c9e9e;
    }
    .locations:hover .dropdown {
    display: block;
    } */

  /* NAVBAR MENU */
  /*.navbar .menu {
    display: flex;
    gap: 1em;
    font-size: 1.3rem;
  }
  .menu li:hover {
    background-color: #4c9e9e;
    border-radius: 10px;
    transition: 0.3s ease;
  }
  .menu li {
    padding: 5px 14px;
  } */
  /* DROPDOWN MENU */
  /*.cities {
    position: relative;
  }
  .dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 10;
    position: fixed; /*WITH RESPECT TO PARENT*/
    /*display: none;
    border-radius: 8px;
    top: 35px;
  }
  .dropdown li + li {
    margin-top: 10px;
  }
  .dropdown li {
    padding: 1em 1em;
    width: 8em;
    text-align: center;
  }
  .dropdown li:hover {
    background-color: #4c9e9e;
  }
  .cities:hover .dropdown {
    display: block;
  } */
  /* HAMBURGER MENU */
  /*.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }
  /* APPLYING MEDIA QUERIES */
  /*@media (max-width: 768px) {
   .menu {
      position: absolute;
      background-color:teal;
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
    .menu li:hover {
      display: inline-block;
      background-color:#4c9e9e;
      transition: 0.3s ease;
    }
    .menu li + li {
      margin-top: 12px;
    }
    .dropdown {
      left: 50%;
      top: 30px;
      transform: translateX(35%);
    }
    .dropdown li:hover {
      background-color: #4c9e9e;
    }
  } */
  .state_flag {
    padding-top: 100px;
    padding-left: 15px;
    height: 250px;
    width: 250px;
    position: relative;
  }
  .state_flag img {
    height: 200px;
    width: 250px;
  }
  .state_map {
    padding-top: 100px;
    padding-left: 15px;
    margin-bottom: 100px;
    height: 420px;
    width: 250px;
    position: relative;
  }
  .state_map img {
    width: 250px;
  }
  .images {
    float: left;
    margin-right: 2rem;
  }
  .main {
    padding-top: 15px;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .title_two {
    font-size: 2rem;
    text-align: center;
    padding-top: 80px;
  }
  .state_seal {
    float: right;
    position: relative;
    padding-right: 0;
  }
  .state_seal img {
    width: 500px
  }
  .city_image img {
    height: 600px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .history {
    padding: 15px;
    font-weight: 500;
  }
  .history h3 {
    text-align: center;
    font-size: x-large;
    font-weight: 800;
  }
  .history p {
    object-position: 15px center;
    margin-top: 25px;
  }
  .activities {
    text-align: center;
    position: relative;
  }
  .activities ul li{
    text-decoration:none;
    display: inline-block;
    text-align: center;
  }
  .left_aside {
    float: left;
    position: relative;
  }
  .left_aside img {
    width: 400px;
    height: 200px;
  }
  .right_aside {
    float: right;
    position: relative;
  }
  .right_aside img {
    width: 400px;
    height: 200px;
  }
  /* This section is for the contact.html form section */
  .form_title {
    text-align: center;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 10px;
    font-size: 10vh;
    font-style: oblique;
    color: rgb(255, 255, 255);
  }
  .form_field {
    border-style: solid;
    background-color: rgba(242, 242, 242, 0.543);
    padding: 10vh 20vh 10vh 20vh;
    margin: 0vh 15vh 0 15vh;
    text-align: left;
    font-size: 5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
  }
  .req {
    color: rgb(153, 5, 5);
    font-size: 4vh;
  }
  input:focus {
    background-color: rgba(255, 255, 255, 0.763);
    border: 3px solid #555;
  }

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border:1px solid #727272;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 100%;
    background-color: #727272;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border:1px solid #727272;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .commentbox {
    padding-bottom: 10px;
    position: relative;
  }
  /* sumbit button customization */
  .submit_btn {
    font-size: 4vh;
    text-align: right;
    box-shadow: #777;
    pointer-events: auto;
  }